{% extends 'base.html' %}

{% block title %} Acerca de {% endblock %}

{% block content %}
<h1>Acerca del proyecto</h1>
<p>Este proyecto utiliza Flask, un microframework web en Python para crear aplicaciones web dinámicas.</p>
<h2>Dependencias y modulos</h2>
<hr>
<p>La finalidad de este proyecto es hacer uso de lo aprendido en clases adicionalmente se han estudiado otros modulos
    con el fin de aprender y practicar las bases para contruir aplicaciones web dinámicas.</p>
<p>Se pretende utilizar, SQLAlchemy como ORM para conectarse a una base de datos MySQL. Para hacer uso de
    Flask-SQLAlchemy se ha utilizado la extensión flask_sqlalchemy.</p>
<p>Para el manejo del enrutamiento se utiliza blueprints</p>
<p>Para el manejo de formularios será utilizado Flask-WTF.</p>
<p>En cuanto al frontend de momento se utilizan plantillas de jinja2 para hacer uso de los templates. Se desea hacer uso
    de tailwind para mejorar la presentación del proyecto.</p>

<h2>Desarrolladores</h2>
<hr>
<p>El proyecto esta siendo realizado por Daniel Trejos, aprendiz Sena del programa Analisis y Desarrollo de Software
    Secional Boston</p>
{% endblock %}